<section id="content">         
  <div class="container_12">
     <div class="wrapper">
         <div class="grid_12">
             <div class="inner-block">
               <h2 class="padd">Jak <span>nas znaleźć</span></h2>
               <figure class="top-7 fleft p8">
                 <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.pl/maps?q=%C5%BBytnia+4+84-120+W%C5%82adys%C5%82awowo&amp;ie=UTF8&amp;hq=&amp;hnear=%C5%BBytnia+4,+84-120+W%C5%82adys%C5%82awowo,+pucki,+pomorskie&amp;t=v&amp;z=14&amp;ll=54.790413,18.400148&amp;output=embed"></iframe><br /><small><a href="https://maps.google.pl/maps?q=%C5%BBytnia+4+84-120+W%C5%82adys%C5%82awowo&amp;ie=UTF8&amp;hq=&amp;hnear=%C5%BBytnia+4,+84-120+W%C5%82adys%C5%82awowo,+pucki,+pomorskie&amp;t=v&amp;z=14&amp;ll=54.790413,18.400148&amp;source=embed" style="color:#0000FF;text-align:left">Wyświetl większą mapę</a></small>
               </figure>
               <div class="adress-div">
                  <p>Sed in lacus ut enim adipiscing aliquet. Nulla venenatis. In pede mi, aliquet sit amet, euismod in, auctor ut, ligula. Aliquam dapibus tincidunt metus. </p>
                  <dl class="adress">
                               <dt class="title1">Żytnia 4,<br> 84-120 Władysławowo</dt>
                                   <dd><span>Telefon:</span>602 411 484</dd>
                  </dl>
               </div>
               <div class="clear"></div>
               
         
     </div><!--the end of wrapper-->
  </div>
</section>