<section id="content">         
  <div class="container_12">
	   <div class="grid_12">
           <div class="inner-block">
             <div id="slide-1">
                           <div class="slider-1" id="camera">
                    <div data-src="/Content/images/gallery/DSC_3157.jpg">
                       <div class="banner camera_caption fadeFromBottom">
                           @*<h2>lobster <span>dinner</span></h2>*@
                           @*<span class='text20'>Image 1 of 5</span>*@
                       </div>
                    </div>
                    <div data-src="/Content/images/gallery/DSC_3158.jpg">
                          <div class="banner camera_caption fadeFromBottom">
                             @*<h2>meat <span>lunch</span></h2>*@
                             @*<span class='text20'>Image 2 of 5</span>*@
                         </div>
                    </div>      
                    <div data-src="/Content/images/gallery/DSC_3165.jpg">
                        <div class="banner camera_caption fadeFromBottom">
                           <h2>fish <span>dinner</span></h2>
                           @*<span class='text20'>Image 3 of 5</span>*@
                       </div>
                    </div>
                    <div data-src="/Content/images/gallery/DSC_3167.jpg">
                        <div class="banner camera_caption fadeFromBottom">
                           @*<h2>morning  <span>salad</span></h2>*@
                           @*<span class='text20'>Image 4 of 5</span>*@
                       </div>
                    </div>
                           </div>                           
                   </div>
           </div>
           
       </div>
       <div class="clear"></div>
  </div>
</section>
<script>
        $(window).load(function () {
            jQuery('#camera').camera({
                pagination: false,
                navigation: true,
                transPeriod: 2000,
                fx: 'simpleFade',
                time: 7000
            });
        });
</script>