<!-- image slider -->
<div class="main-slide">
    <div class="container_12">
        <article class="grid_12">
            <div id="slide">
                <div class="slider camera_wrap camera_azure_skin" id="camera">
                    <div data-src="Content/images/meals/Chiliconcarne.jpg"></div>
                    <div data-src="Content/images/meals/fajita.jpg"></div>
                    <div data-src="Content/images/meals/greckasalatka.jpg"></div>
                    @*<div data-src="Content/images/meals/donkoguttosałatka.jpg"></div>*@
                    <div data-src="Content/images/meals/karkowkamuchomacho.jpg"></div>
                    <div data-src="Content/images/meals/koreczki.jpg"></div>
                    <div data-src="Content/images/meals/tacos.jpg"></div>
                </div>
            </div>
        </article>
        <div class="clear"></div>
    </div>
</div>
@*<div class="box">
    <div class="container_12">
        <div class="grid_4">
            <div class="block">
                <strong></strong>
                <div class="inner">
                    <span>Kontakt</span><br>
                    <em>Bar Caliente</em><br>
                    <p>Bar Caliente to lokal gastronomiczny oferujący pizze, dania z grilla, specjały kuchni meksykańskiej oraz pasty.</p>
                    <div class="div-button">
                        @Html.ActionLink("Kontakt", "Contact", "Home")
                    </div>
                </div>
            </div>
        </div>
        <div class="grid_4">
            <div class="block-1">
                <strong></strong>
                <div class="inner">
                    <span>Promocja</span><br>
                    <em>Pizza!</em><br>
                    <p>zamow dwie pizze z listy poniżej a dostaniesz trzecią pizzę Capriciosę za 1 zł</p>
                    <ul>
                        <li>Mamma Mia 18 PLN</li>
                        <li>Farmerska 18 PLN</li>
                        <li>Mexicana 18 PLN!</li>
                        <li>Quatro Fromaggi 19 PLN</li>
                        <li>Vegatariana 18 PLN</li>
                    </ul>
                    <div class="div-button">
                        @Html.ActionLink("Promocje", "Promotions", "Home")
                    </div>
                </div>
            </div>
        </div>
        <div class="grid_4">
            <div class="block-2">
                <strong></strong>
                <div class="inner">
                    <span>Chili con carne</span><br>
                    <em>Tylko u nas oryginalna receptura!</em><br>
                    <p>Chili con carne jeden z elementów kuchni Tex-Mex. Oczywiście jego korzenie wywodzą się z Meksyku (trzeba pamiętać, że Teksas był kiedyś jego częścią). Głowne składniki to różnego rodzaju papryki rzadko spotykane w Polsce oraz wołowina.</p>
                    <div class="div-button">
                        <a href="#">read more</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>*@
<!--==============================content================================-->
<section id="content">
    <div class="container_12">
        <div class="grid_12">
            <div class="inner-block">
                <h2 class="padd ">Polecane <span>dania</span></h2>
            </div>
        </div>
        <div class="grid_3">
            <div class="inner-block">
                <figure>
                    @*<img src="~/Content/images/page-img.jpg" alt="">*@
                    <img src="~/Content/images/meals/thumbnails/donkoguttosałatka.jpg" />
                </figure>
                <div class="block-3">
                    <span class="font-14">Idealna na lato sałatka don'kogutto</span>
                </div>
                @*<p>Idealna na lato sałatka don'kogutto</p>*@
                <span class="cost fleft">
                    18<strong>.00</strong><em>PLN</em>
                </span>
                @*<a href="#" class="button fright top">Order Now!</a>*@
                <div class="clear"></div>
            </div>
        </div>
        <div class="grid_3">
            <div class="inner-block">
                <figure>
                    <img src="~/Content/images/meals/thumbnails/karkowkamuchomacho.jpg" />
                    @*<img src="~/Content/images/page-img-1.jpg" alt="">*@
                </figure>
                <div class="block-3">
                    <span class="font-14">Karkówka mucho macho pikantna</span>
                </div>
                @*<p>karkówka mucho macho pikantna</p>*@
                <span class="cost fleft">
                    12<strong>.00</strong><em>PLN</em>
                </span>
                @*<a href="#" class="button fright top">Order Now!</a>*@
                <div class="clear"></div>
            </div>
        </div>
        <div class="grid_3">
            <div class="inner-block">
                <figure>
                    @*<img src="~/Content/images/page-img-3.jpg" alt="">*@
                    <img src="~/Content/images/meals/thumbnails/Cheesy-Garlic-Bread-11-600x398.jpg" />
                </figure>
                <div class="block-3">
                    <span class="font-14">Perfekcyjna grzanka czosnkowa</span>
                </div>
                @*<p>Perfekcyjna grzanka czosnkowa</p>*@
                <span class="cost fleft">
                    7<strong>.00</strong><em>PLN</em>
                </span>
                @*<a href="#" class="button fright top">Order Now!</a>*@
                <div class="clear"></div>
            </div>
        </div>

        <div class="grid_3">
            <div class="inner-block">
                <figure>
                    <img src="~/Content/images/page-img-2.jpg" alt="">
                </figure>
                <div class="block-3">
                    <span class="font-14">Danie dnia.</span>
                </div>
                @*<p>Danie dnia.</p>*@
                <span class="cost fleft">
                    @*<em>$</em>25<strong>.89</strong>*@
                </span>
                @*<a href="#" class="button fright top">Order Now!</a>*@
                <div class="clear"></div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</section>
<script>
        $(window).load(function () {
            jQuery('#camera').camera({
                pagination: false,
                navigation: false,
                transPeriod: 2000,
                fx: 'simpleFade',
                time: 7000
            });
        });
</script>