@using Barcaliente.WebUI.Models
@model MenuCategoryViewModel
<section id="content">
    <div class="container_12">
        <div class="grid_12">
            <div class="inner-block">
                <h2 class="padd">Ceny: <span>@Model.CategoryName</span></h2>
            </div>
        </div>
        @Html.Partial("_MenuCategory", Model);
    </div>
</section>
