@model string
<section id="content">
    <div class="container_12">
        <div class="grid_12">
            <h2>Uuups!</h2>
            <span class="font-14">Wygląda na to, że nie mamy posiłków w kategorii @Model...</span>
        </div>
    </div>
</section>
